# repositoryをTypeScriptとして認識させるためだけのファイル
# （scssファイルが多くてscssリポジトリとして認識されてしまうため）
# 不要なのでクローンしたら削除してください
*.scss linguist-language=TypeScript

folder/* linguist-vendored
file.js linguist-vendored=false

folder/* linguist-documentation
file.rb linguist-documentation=false
