a,abbr,address,blockquote,body,
caption,cite,code,del,dfn,div,dl,dt,em,fieldset,
form,h1,h2,h3,h4,h5,h6,
html,iframe,img,ins,label,
legend,li,object,ol,p,pre,
q,small,span,strong,
sub,sup,table,tbody,td,tfoot,th,thead,tr,ul {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
  font-family: $baseFont;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
}
body {
  background-color: $colorWhite;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

dl, dt, dd {
  margin: 0;
}
