@use '~src/styles/settings/components.scss' as comp;

.wrap {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  flex-direction: column;
}
.img {
  padding: 20px 0;
  img {
    width: 200px;
  }
}
.h1 {
  letter-spacing: 1px;
}
.button {
  margin: 10px 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}