$campusWidth-sp: 750;
$campusWidth-pc: 1280;

$campusHeight-pc: 1080;
$campusHeight-sp: 667;

$breakpoint-up: (
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;

$breakpoint-down: (
  'sm': 'screen and (max-width: 639px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 1023px)',
  'xl': 'screen and (max-width: 1279px)',
) !default;

$baseFont: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$baseFontSize: 15px;
$baseLineHeight: 1.5;


$colorWhite: #fff;
$colorBlack: #000000;
$colorBlue: #78d5d7;

$zIndexLoading: 10000;