@use './variable.scss' as var;

@function vwPc($size){
  $rate: 100 / var.$campusWidth-pc;
  @return $rate * $size * 1vw;
}

@function vwSp($size){
  $rate: 100 / var.$campusWidth-sp;
  @return $rate * $size * 1vw;
}

@function vhPc($size){
  $rate: 100 / var.$campusHeight-pc;
  @return $rate * $size * 1vh;
}

@function vhSp($size){
  $rate: 100 / var.$campusHeight-sp;
  @return $rate * $size * 1vh;
}